extends layout

block content
  div(id='body', class='home')
    div(class='header')
      img(src='/images/bg-home.jpg', alt='')/
      div
        a(href='/menu') Freeze Delight
    div(class='body')
      div
        each product in products
          div
            h1 #{product.title}
            h2 #{product.teaser}
            p #{product.text}
          img(src=product.image.src, alt=product.image.alt)/
    div(class='footer')
