doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= `Freeze: ${title}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/mobile.css')
    script(type='text/javascript', src='/js/common.js')
    script(type='text/javascript', src='/js/mobile.js')
    // Google Tag Manager
    script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','#{gtmid}');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript 
      iframe(src='https://www.googletagmanager.com/ns.html?id=#{gtmid}', height='0', width='0', style='display:none; visibility:hidden')
    // End Google Tag Manager (noscript)
    div(id='page')
      block header
        div(id='header')
          div
            a(href='/', class='logo')
              img(src='/images/logo.png')/
            ul(id='navigation')
              each val, index in {Home:'/', Menu:'/menu', Blog: '/blog', Contact: '/contact'}
                li(class=(val == section) ? 'selected menu' : 'menu')
                  a(href=val)= index
      block content
      block footer
        div(id='footer')
          div
            div(class='connect')
              a(href='http://freewebsitetemplates.com/go/facebook/', class='facebook') facebook
              a(href='http://freewebsitetemplates.com/go/twitter/', class='twitter') twitter
              a(href='http://freewebsitetemplates.com/go/googleplus/', class='googleplus') googleplus
              a(href='http://pinterest.com/fwtemplates/', class='pinterest') pinterest
            p &copy; 2023 Freeeze. All Rights Reserved.