extends layout

block content
  div(id='body')
    div(class='header')
      div 
        h1 Menu
    div
      each category in categories
        ul
          li
            h1 #{category.name}
            p #{category.description}
          each product in category.products
            li
              a(href=product.url)
                img(src=product.image.src, alt=product.image.alt)/
              a(href=product.url)
                h2 #{product.name}