extends layout

block content
  div(id='body')
    div(class='header')
      div 
        h1 Menu Item
    div(class='singlepost')
      div(class='featured')
        img(src=post.image.src, alt=post.image.alt)/
        h1 #{post.title}
        | !{post.text}
        a(href='/menu', class='load') back to menu
      div(class='sidebar')
        h1 Recent Posts
        each post in recent
          img(src=post.teaser.image.src, alt=post.teaser.image.alt)/
          h2 #{post.teaser.title}
          span By #{post.author} on #{post.date}
          p #{post.teaser.text}
          a(href=post.url, class='more') Read More
